/* corpo do texto */
body{  
    font-family: Arial, sans-serif;/* este atributo altera a fonte da familia arial, sans-serif*/    
    margin: 0; /* este atributo altera a margin do site*/
    padding: 0; /* este atributo altera o espaçamento da borda*/
    background-color: #f0f0f0; /* este atributo altera a cor do fundo*/
    box-sizing: border-box; /* este atributo adiciona ou não mais borda*/
}
/* */
.container{
    width: 90%; /* este atributo altera o tamanho do container */
    margin: 0 auto; /*este atributo altera a distancia entre os elementos do site, centralizando-os*/
    background-color: #fff; /*este atributo altera o fundo do container*/
    padding: 20px; /*este atributo altera o espaçamento da borda e dos elemtos*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*este atributo adiciona uma sombra para o elemento*/
    border-radius: 8px; /*este atributo deixa a borda mais arredondada*/
}
.box{
    border: 1px solid #ddd; /*este atributo adiciona uma borda*/
    border-radius: 8px; /*este atributo deixa a borda mais arredondada*/
    padding: 20px; /*este atributo altera o espaçamento da borda e dos elemtos*/
    margin: 20px 0; /* este atributo altera a margin do site*/
    background-color: #fafafa; /*este atributo altera o fundo da box*/
}

fieldset{
    display: flex; /*este atributo deixa os elementos de dentro flexiveis*/
    flex-direction: column; /*este atrubyti da uma direção para a elementos flexiveis*/
    gap: 5px; /*este atributo da um espaço igual para elementos flexiveis*/
    border: 1px solid #ddd; /*este atributo adiciona uma borda e uma cor a ela*/
    border-radius: 4px; /*este atributo arredonda a borda*/
}
legend{
    font-weight: bold; /*este atributo altera a formatação do texto*/
}
textarea, button{
    padding: 10px; /*este atributo altera o espaçamento da borda e dos elemtos*/
    border: 1px solid #ddd; /*este atributo adiciona uma borda e uma cor a ela*/
    border-radius: 3px; /*este atributo arredonda a borda*/
}
select{
    padding: 5px; /*este atributo altera o espaçamento da borda e dos elemtos*/
    border-radius: 3px; /*este atributo arredonda a borda*/
}
input{
    border: 1px solid #ddd; /*este atributo adiciona uma borda e uma cor a ela*/
    padding: 7px; /*este atributo altera o espaçamento da borda e dos elemtos*/
    border-radius: 3px; /*este atributo arredonda a borda*/
}
#opcao1, #opcao2, #opcao3, #item1, #item2, #item3{
    width: 82vw; /* este atributo altera a largura */
}
.column{
    width: 48%; /*este atributo altera a largura do elemento, nesse caso da coluna*/
    overflow: hidden /*este atributo esconde os elementos que saem do site*/
}
.two-columns{

    display: flex; /*este atributo deixa os elementos de dentro flexiveis*/
    justify-content: space-between; /*este atributo justifica o elemento, deixando o espaço igual entre os elementos nesse caso*/
    overflow: hidden /*este atributo esconde os elementos que saem do site*/
}
.column input{
    width: 39vw; /* este atributo altera a largura */
    overflow: hidden; /*este atributo esconde os elementos que saem do site*/
}